<!DOCTYPE html>
<html>
    <head>
        <title>
            help page
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>for help contact us at {{email}}</h1>
        </div>
        
        {{>footer}}
    </body>
</html>